@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold mb-8;
  }
  h2 {
    @apply text-xl font-bold mb-6;
  }

  h3 {
    @apply text-lg font-bold mb-6;
  }

  p {
    @apply mb-7
  }

  blockquote {
      @apply border-l-4  bg-rose-50 border-orange-400 p-4 mb-4 ml-8
  }
  blockquote::before {
    content: "“";
    font-weight: bold;
    font-size: 40px;
  }

  ol {
    list-style: decimal;
  }
}

body,
html {
  height: 100%;
  overflow:auto;
  color: #333f48;
}

body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  margin:0;
  padding:0;
  line-height: 1.5;
}

body.modal-open{
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px;
}
.page-container {
  min-height: 100vh;
}

.striker-container {
  position: fixed;
  top: -15px;
  right: -15px;
  width: 70px;
  height: 70px;
  z-index: 5;
}

.striker-svg {
  overflow: visible;
  height: auto;
  width: 30px;
}

.post-tag {
  @apply rounded-full bg-gray-200 mr-2 px-4 py-1.5 inline-block whitespace-nowrap;
}

.post-tag.active--exact {
  @apply bg-gray-800 text-white;
}
.post-tag {
  @apply rounded-full bg-gray-200 mr-2 px-4 py-1.5;
}

.post-tag.active--exact {
  @apply bg-gray-800 text-white;
}

.flip-list-move {
  transition: transform .5s;
}

.tag-list ul {
  @apply flex mt-10 items-center overflow-x-auto;
}

@media screen and (min-width: 1280px){
  .success-message-svg {
    width: 300px;
  }
  .nav__item {
    min-width: 8rem;
  }
  .striker-container {
    position: absolute;
    top: 660px;
    left: -80px;
    width: 160px;
    height: 160px;
  }
  .striker-svg {
    width: 70px;
  }

}
