@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold mb-8;
  }
  h2 {
    @apply text-xl font-bold mb-6;
  }

  h3 {
    @apply text-lg font-bold mb-6;
  }

  p {
    @apply mb-7
  }

  blockquote {
      @apply border-l-4  bg-rose-50 border-orange-400 p-4 mb-4 ml-8
  }
  blockquote::before {
    content: "“";
    font-weight: bold;
    font-size: 40px;
  }

  ol {
    list-style: decimal;
  }
}

body,
html {
  height: 100%;
  color: #333f48;
}

body.modal-open{
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px;
}

@media screen and (min-width: 1280px){
  .success-message-svg {
    width: 300px;
  }
  .nav__item {
    min-width: 8rem;
  }
}
